<template>
    <div class="movies-container">
        <v-card class="rtm-dark" outlined>
            <v-card-title style="font-size: 1.4vw;line-height: 1.25vw" class="ml-10 pb-0 pt-0" v-text="title" v-if="movies.length>0"></v-card-title>
            <v-sheet class="mx-auto rtm-dark">
                <v-slide-group class="pa-4" show-arrows>
                    <v-slide-item v-for="movie in movies" :key="movie.id">
                        <movie-card :is-vertical="true" :movie="movie"/>
                    </v-slide-item>
                </v-slide-group>
            </v-sheet>
        </v-card>
    </div>
</template>


<script>
    import MovieCard from "../movie-card/movie-card";

    export default {
        components: {MovieCard},
        layout: 'blank',
        props: ['setter_type'],
        data() {
            return {
                items:[],
                title: ''
            }
        },
        computed: {
            movies() {
                switch (this.setter_type) {
                    case 'GET_MOVIES_BY_YEAR':
                        return this.$store.state.movie.movies_by_year;
                    case 'GET_MOVIES_BY_RATE':
                        return this.$store.state.movie.movies_by_rate;
                    case 'GET_MOVIES_BY_DIRECTOR':
                        return this.$store.state.movie.movies_by_director;
                    case 'GET_MOVIES_BY_FOLLOWED':
                        return this.$store.state.movie.movies_followed;
                    default:
                        return [];
                }
            }
        },
        methods: {

            titles(){
                let template = 'Movies grouped by ';
                switch (this.setter_type) {
                    case 'GET_MOVIES_BY_YEAR':
                        return template + 'years';
                    case 'GET_MOVIES_BY_RATE':
                        return template + 'rate';
                    case 'GET_MOVIES_BY_DIRECTOR':
                        return template + 'director';
                    case 'GET_MOVIES_BY_FOLLOWED':
                        return 'Your followed movies';
                    default:
                        return [];
                }
            },
        },
        async mounted() {
            this.title = await this.titles(this.setter_type);
        }
    }
</script>