<template>
    <div class="followed-stars">
        <v-btn icon @click="logout">
            <v-icon>mdi-power</v-icon>
        </v-btn>
    </div>
</template>

<script>

    export default {
        props: {},
        methods: {
            logout() {
                localStorage.removeItem('api_token');
                this.$axios.setToken(false)
                window.location = '/account/login'    // resets vuex state
            },
        }
    };
</script>
