<template>
    <v-container>
        <v-row justify="center">
            <v-col sm="6" md="4">
                <v-card class="rtm-dark">
                    <v-card-title>Set New Password</v-card-title>
                    <v-card-text>
                        <v-form ref="form">

                            <v-text-field v-model="email" label="E-mail" :error-messages="errors.email"></v-text-field>

                            <v-text-field v-model="password" label="Password" :error-messages="errors.password" type="password"></v-text-field>

                            <v-btn class="mr-4 red mt-5" @click="submit">submit</v-btn>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        Already know your password ?
                        <nuxt-link to="/account/login" class="ml-1"> Sign In</nuxt-link>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
    import {mapFields} from 'vuex-map-fields';
    import {mapActions} from 'vuex';

    export default {
        layout: 'blank',
        computed: {
            ...mapFields('change_password', ['form.email', 'form.password', 'errors']),
        },
        methods: {
            ...mapActions('change_password', {
                changePassword: 'CHANGE_PASSWORD'
            }),
            async submit() {
                const success = await this.changePassword();
                if (success) {
                    this.clear();
                    await this.$router.push('/account/login');
                }
            },
            clear() {
                this.errors = {}
                this.$refs.form.reset()
            },
        },
        mounted() {
            localStorage.clear();
        }
    }
</script>
