<template>
    <v-container>
        <v-row justify="center">
            <v-col sm="6" md="4">
                <v-card class="rtm-dark">
                    <v-card-title>Login</v-card-title>
                    <v-card-text>
                        <v-form ref="form">
                            <v-text-field v-model="email" id="email" label="E-mail" :error-messages="errors.email"></v-text-field>

                            <v-text-field v-model="password" label="Password" type="password" id="password" :error-messages="errors.password"></v-text-field>

                            <v-btn class="mr-4 red mt-5" @click="submit">submit</v-btn>

                            <v-btn @click="clear" class="rtm-color mt-5">clear</v-btn>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <div>
                            <div>
                                <span>Don't have an account?</span>
                                <nuxt-link to="/account/register" class="ml-1 mr-1">Register</nuxt-link>
                            </div>
                            <div>
                                <span>Click here to change your password</span>
                                <nuxt-link to="/account/change-password" class="ml-1">Change here</nuxt-link>
                            </div>
                        </div>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapFields} from 'vuex-map-fields';
    import {mapActions} from 'vuex';

    export default {
        layout: 'blank',
        computed: {
            ...mapFields('login', ['form.email', 'form.password', 'errors']),
        },
        methods: {
            ...mapActions('login', {
                login: 'LOGIN'
            }),
            async submit() {
                const success = await this.login();
                if (success) {
                    this.clear();
                    const redirect = this.$route.params.redirect;
                    if (redirect) {
                        await this.$router.push(redirect);
                    } else {
                        await this.$router.push('/dashboard');
                    }
                }
            },
            clear() {
                this.errors = {};
                this.$refs.form.reset();
            },
        },
        mounted() {
            localStorage.clear();
        }
    }
</script>