<template>
    <v-container>
        <v-row justify="center">
            <v-col sm="6" md="4">
                <v-card class="rtm-dark">
                    <v-card-title>Register</v-card-title>
                    <v-card-text>
                        <v-form ref="form">

                            <v-text-field v-model="first_name" label="First name" :error-messages="errors.first_name" required></v-text-field>
                            <v-text-field v-model="last_name" label="Last name" :error-messages="errors.last_name" required></v-text-field>
                            <v-text-field v-model="email" label="E-mail" :error-messages="errors.email" required></v-text-field>
                            <v-text-field v-model="password" label="Password" type="password" :error-messages="errors.password" required></v-text-field>
                            <v-text-field v-model="password_confirmation" label="Confirm Password" type="password" :error-messages="errors.password_confirmation" required></v-text-field>

                            <v-btn class="mr-4 red" @click="submit">submit</v-btn>
                            <v-btn @click="clear" class="rtm-color">clear</v-btn>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        Already have an account ?
                        <nuxt-link to="/account/login" class="ml-1"> Sign In</nuxt-link>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapFields} from 'vuex-map-fields';
    import {mapActions} from 'vuex';

    export default {
        layout: 'blank',
        computed: {
            ...mapFields('register', ['form.first_name', 'form.last_name', 'form.email', 'form.password', 'form.password_confirmation', 'errors']),
        },
        methods: {
            ...mapActions('register', {
                register: 'REGISTER'
            }),
            async submit() {
                const result = await this.register();
                if (result) {
                    this.clear();
                    await this.$router.push('/dashboard'); //we can read from const URL global variable if we want.
                }
            },
            clear() {
                this.errors = {};
                this.$refs.form.reset();
            }
        }
    }
</script>

<style scoped>

</style>
