<template>
    <div class="user-avatar">
        <v-btn icon large @click="openModal">
            <v-avatar size="32px" item>
                <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png"/>
            </v-avatar>
        </v-btn>
    </div>
</template>

<script>
    export default {
        props: {
        },
        methods: {
            openModal() {
                this.$store.commit('user/SET_MODAL', true);
            }
        }
    };
</script>
