<template>
    <div class="follow-genres-modal">
        <v-row justify="center">
            <v-dialog v-model="modal" persistent max-width="600px" class="rtm-dark" scrollable>
                <v-card class="rtm-dark">
                    <v-card-title>
                        <span class="headline">Movie Genres</span>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text style="max-height: 600px;">
                        <v-container>
                            <v-list subheader class="rtm-dark">
                                <v-subheader>You can follow your favorite genres</v-subheader>

                                <v-list-item v-for="genre in genres" :key="genre.id" @click="followGenre(genre.id)">
                                    <v-list-item-content>
                                        <v-list-item-title v-text="genre.title"></v-list-item-title>
                                    </v-list-item-content>

                                    <v-btn color="grey" text v-if="genre.follow" :loading="genre.loading">Unfollow</v-btn>
                                    <v-btn color="primary" text v-else :loading="genre.loading">Follow</v-btn>
                                </v-list-item>
                            </v-list>

                        </v-container>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="grey darken-1" text @click="modal = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
    import {mapFields} from 'vuex-map-fields';
    import {mapActions, mapGetters} from "vuex";

    export default {
        computed: {
            ...mapFields('genre', ['modal']),
            ...mapGetters('genre', {
                genres: 'GET_GENRES'
            })
        },
        methods: {
            ...mapActions('genre', {
                follow: 'FOLLOW',
                fetch: 'FETCH'
            }),
            async followGenre(id) {
                await this.follow({id});
            }
        },
        watch: {
            modal(newValue) {
                if (newValue) {
                    this.fetch();
                }
            }
        }
    };
</script>
