<template>
    <div class="user-info-modal">
        <v-row justify="center">
            <v-dialog v-model="modal" persistent max-width="375px" class="rtm-dark" scrollable>
                <v-card max-width="375" class="mx-auto rtm-dark">
                    <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="300px" dark>
                        <v-row class="fill-height">
                            <v-card-title>
                                <v-btn dark icon>
                                    <v-icon>mdi-chevron-left</v-icon>
                                </v-btn>

                                <v-spacer></v-spacer>

                                <v-btn dark icon class="mr-4">
                                    <v-icon>mdi-pencil</v-icon>
                                </v-btn>


                            </v-card-title>

                            <v-spacer></v-spacer>

                            <v-card-title class="white--text pl-12 pt-12">
                                <div class="display-1 pl-12 pt-12">Ali Conners</div>
                            </v-card-title>
                        </v-row>
                    </v-img>

                    <v-list two-line class="rtm-dark">
                        <v-list-item @click="">
                            <v-list-item-icon>
                                <v-icon color="indigo">mdi-phone</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>(650) 555-1234</v-list-item-title>
                                <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                            </v-list-item-content>

                            <v-list-item-icon>
                                <v-icon>mdi-message-text</v-icon>
                            </v-list-item-icon>
                        </v-list-item>

                        <v-divider inset></v-divider>

                        <v-list-item @click="">
                            <v-list-item-icon>
                                <v-icon color="indigo">mdi-email</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>aliconnors@example.com</v-list-item-title>
                                <v-list-item-subtitle>Personal</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>

                        <v-divider inset></v-divider>

                        <v-list-item @click="">
                            <v-list-item-icon>
                                <v-icon color="indigo">mdi-map-marker</v-icon>
                            </v-list-item-icon>

                            <v-list-item-content>
                                <v-list-item-title>1400 Main Street</v-list-item-title>
                                <v-list-item-subtitle>Orlando, FL 79938</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                    <v-divider/>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red darken-1" text @click="modal = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </div>
</template>

<script>
    import {mapFields} from 'vuex-map-fields';
    import {mapActions} from "vuex";

    export default {
        props: {},
        computed: {
            ...mapFields('user', ['modal']),
        },
        methods: {
            ...mapActions('user', {
                fetch: 'FETCH'
            }),
        },
        watch: {
            modal(newValue) {
                if (newValue) {
                    this.fetch();
                }
            }
        }
    };
</script>
