<template>
    <div class="movie-suggestion-container">
        <v-sheet class="mx-auto rtm-dark">
            <v-slide-group v-model="model" show-arrows>
                <v-slide-item v-for="movie in movies" :key="movie.movie.id">
                    <movie-card is-vertical="true" disable-follow="true" :movie="movie.movie"/>
                </v-slide-item>
            </v-slide-group>
        </v-sheet>
    </div>
</template>
<script>
    import MovieCard from "../movie-card/movie-card";
    import {mapFields} from "vuex-map-fields";
    export default {
        components: {MovieCard},
        data: () => ({
            model: null
        }),
        computed: {
            movies() {
                return this.$store.state.movie.movies_by_suggestion;
            }
        }
    }
</script>