<template>
    <div class="movie-card">
        <v-hover v-slot:default="{ hover }">
            <v-card class="ma-4" :height="height" :width="width" color="grey">
                <v-img :src="movie.image" :lazy-src="movie.image" contain>
                    <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                            <v-progress-circular indeterminate color="grey lighten-5"/>
                        </v-row>
                    </template>
                </v-img>

                <movie-card-popup-container :movie="movie"
                                            :hover="hover"
                                            :disable-follow="disableFollow"/>

            </v-card>
        </v-hover>
    </div>
</template>

<script>
    import MovieCardPopupContainer from "./movie-card-popup-container";

    export default {
        components: {MovieCardPopupContainer},
        props: ['isVertical', 'movie', 'disableFollow'],
        computed: {
            height() {
                return this.isVertical ? 320 : 165;
            },
            width() {
                return this.isVertical ? 200 : 295;
            }
        }
    };
</script>
