<template>
    <div class="movie-card">
        <v-fade-transition>
            <v-overlay v-if="hover" absolute opacity="0.90" color="#0f171e">
                <v-card-title v-text="movie.name" class="font-weight-light"></v-card-title>

                <v-card-text>
                    <v-row align="center" class="mx-0">
                        <v-rating
                                :value="movie.rate"
                                color="amber"
                                dense
                                half-increments
                                readonly
                                length="10"
                                size="14"></v-rating>

                        <div class="grey--text ml-4">{{movie.rate}}</div>
                        <div class="grey--text ml-4"> ({{movie.time}})</div>
                    </v-row>

                    <div class="grey--text">
                        <span v-for="genre in movie.genres" v-text="genre.name + ' • '"></span>
                    </div>
                    <div class="grey--text">
                        {{movie.year}} - {{movie.director}}
                    </div>
                 </v-card-text>

                <v-divider class="mx-4"></v-divider>

                <v-card-actions>
                    <div v-if="!disableFollow">
                        <v-btn color="deep-purple lighten-2" text
                               v-if="movie.follow"
                               :loading="movie.loading"
                               @click="followMovie(movie.id)">
                            Unfollow
                        </v-btn>

                        <v-btn color="deep-purple lighten-2" text
                               v-else
                               :loading="movie.loading"
                               @click="followMovie(movie.id)">
                            Follow
                        </v-btn>
                    </div>

                </v-card-actions>

            </v-overlay>
        </v-fade-transition>
    </div>
</template>

<script>
    import {mapActions} from "vuex";

    export default {
        props: [ 'movie', 'disableFollow', 'hover'],
        computed: {

        },
        methods:{
            ...mapActions('movie', {
                follow: 'FOLLOW',
            }),
            async followMovie(id) {
                await this.follow({id});
            },
        }
    };
</script>
