<template>
    <v-app id="inspire">
        <v-content class="rtm-dark">
            <v-container fluid fill-height>
                <v-card>
                    <v-img src="/img/background.jpg"/>
                </v-card>
                <v-overlay absolute opacity="0.70" color="#0f171e" class="fill-height">
                    <v-row>
                        <v-col cols="12">
                            <nuxt></nuxt>
                        </v-col>
                    </v-row>
                </v-overlay>


            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        data: () => ({}),
    }
</script>
<style>
    .v-overlay__content {
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
</style>
