<template>
    <v-app id="inspire">

        <v-app-bar app clipped-right dark class="rtm-color">

            <v-toolbar-title>Remote Team Movie</v-toolbar-title>

            <v-spacer/>

            <movie-searcher/>

            <v-spacer/>

            <follow-genres-button/>

            <follow-stars-button/>

            <user-avatar/>

            <logout-button/>

        </v-app-bar>

        <v-content class="rtm-dark">
            <v-container fluid>
                <nuxt></nuxt>
            </v-container>
        </v-content>

        <v-navigation-drawer v-model="rightDrawer" fixed right temporary/>
    </v-app>
</template>

<script>
    import UserAvatar from "../components/layout/user-avatar/user-avatar";
    import MovieSearcher from "../components/layout/movie-searcher/movie-searcher";
    import FollowGenresButton from "../components/layout/follow-genres-button/follow-genres-button";
    import FollowStarsButton from "../components/layout/follow-stars-button/follow-stars-button";
    import LogoutButton from "../components/layout/logout-button/logout-button";

    export default {
        components: {LogoutButton, FollowStarsButton, FollowGenresButton, MovieSearcher, UserAvatar},
        data() {
            return {
                rightDrawer: false,
            }
        }
    }
</script>