<template>
    <div class="followed-genres">
        <v-btn icon @click="openModal">
            <v-icon>mdi-movie-filter</v-icon>
        </v-btn>
    </div>
</template>

<script>

    export default {
        props: {},
        methods: {
            openModal() {
                this.$store.commit('genre/SET_MODAL', true);
            }
        }
    };
</script>
