<template>
    <div>
        <v-row justify="center">
            <v-col cols="8">
                <movie-suggestion-container/>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-col cols="12">
                <movies-container setter_type="GET_MOVIES_BY_FOLLOWED"/>
                <movies-container setter_type="GET_MOVIES_BY_YEAR"/>
                <movies-container setter_type="GET_MOVIES_BY_RATE"/>
                <movies-container setter_type="GET_MOVIES_BY_DIRECTOR"/>
            </v-col>
        </v-row>
        <follow-genres-modal/>
        <follow-stars-modal/>
        <user-info-modal/>
    </div>
</template>

<script>
    import MovieSuggestionContainer from "../../components/dashboard/movie-suggestion-container/movie-suggestion-container";
    import MoviesContainer from "../../components/dashboard/movies-container/movies-container";
    import FollowGenresModal from "../../components/dashboard/follow-modals/follow-genres-modal/follow-genres-modal";
    import FollowStarsModal from "../../components/dashboard/follow-modals/follow-stars-modal/follow-stars-modal";
    import UserInfoModal from "../../components/dashboard/user-info-modal/user-info-modal";

    export default {
        middleware: 'auth',
        components: {UserInfoModal, FollowStarsModal, FollowGenresModal, MoviesContainer, MovieSuggestionContainer},
        async fetch(context) {
            const {store} = context;
            loadData(store);
        },
        computed: {
            genres_modal() {
                return this.$store.state.genre.modal;
            },
            stars_modal() {
                return this.$store.state.star.modal;
            },
        },
        methods:{

        },
        watch: {
            genres_modal(value) {
                if (value === false) {
                    loadData(this.$store);
                }
            },
            stars_modal(value) {
                if (value === false) {
                    loadData(this.$store);
                }
            }
        }
    };
    function loadData(store) {
        store.dispatch('movie/FETCH');
    }
</script>
