<template>
        <v-autocomplete
                v-model="select"
                :loading="loading"
                :items="items"
                :search-input.sync="search"
                cache-items
                class="mx-10"
                flat
                dark
                hide-no-data
                hide-details
                label="Search movie"
                solo-inverted
        ></v-autocomplete>
</template>

<script>
    export default {
        props: {},
        data() {
            return {
                loading: false,
                items: [],
                search: null,
                select: null,
                states: [
                    'Jumanji',
                    'Example search movies',
                ],
            }
        },
        watch: {
            search(val) {
                val && val !== this.select && this.querySelections(val)
            },
        },
        methods: {
            querySelections(v) {
                this.loading = true;
                // Simulated ajax query
                setTimeout(() => {
                    this.items = this.states.filter(e => {
                        return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                    });
                    this.loading = false
                }, 500)
            },
        },
    };
</script>
